[submodule "Lithe/thirdparty/spdlog"]
	path = Lithe/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lithe/thirdparty/glfw"]
	path = Lithe/thirdparty/glfw
	url = https://github.com/Lolitron-0/glfw
[submodule "Lithe/thirdparty/ImGui"]
	path = Lithe/thirdparty/ImGui
	url = https://github.com/Lolitron-0/imgui
	branch = docking
[submodule "Lithe/thirdparty/glm"]
	path = Lithe/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Lithe/thirdparty/RenderAbstraction"]
	path = Lithe/thirdparty/RenderAbstraction
	url = https://github.com/Lolitron-0/RenderingAbstraction
	master = master
	branch = master
	update = rebase
[submodule "Lithe/thirdparty/IconFontCppHeaders"]
	path = Lithe/thirdparty/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
